
## Butane and Ignition to prevent any accidental leaks
*.bu
!config.bu
*.ign

## scratch dir for temporary files
scratch/*

## Cosign Private Key
cosign.key

## MOK Private Key (keep public cert)
keys/mok/LOCALMOK.priv
!keys/mok/LOCALMOK.der

# Built images and their manifests
output/*